ip pim rp 10.0.0.100 224.0.0.0/4
service integrated-vtysh-config
interface lo
 ip pim
interface swp1
 ip pim
interface swp2
 ip pim
interface swp3
 ip pim
interface swp4
 ip pim
interface swp29
 ip pim
interface swp30
 ip pim

router bgp {{ switches[ansible_hostname].bgp_as }}
 neighbor LEAF peer-group
 neighbor LEAF remote-as external
 neighbor swp1 interface peer-group LEAF
 neighbor swp2 interface peer-group LEAF
 neighbor swp3 interface peer-group LEAF
 neighbor swp4 interface peer-group LEAF
 neighbor swp29 interface peer-group LEAF
 neighbor swp30 interface peer-group LEAF
 !
 address-family ipv4 unicast
  redistribute connected route-map LOOPBACK
 exit-address-family
 !
 address-family l2vpn evpn
  neighbor LEAF activate
 exit-address-family
!
route-map LOOPBACK permit 10
 match interface lo
line vty
!
